@font-face {
  font-family: "iconfont"; /* Project id 2579082 */
  src: url('iconfont.woff2?t=1646129058367') format('woff2'),
       url('iconfont.woff?t=1646129058367') format('woff'),
       url('iconfont.ttf?t=1646129058367') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaiguan:before {
  content: "\e621";
}

.icon-tongji:before {
  content: "\e688";
}

.icon-zhongzhi:before {
  content: "\e627";
}

.icon-xialacaidan:before {
  content: "\e600";
}

.icon-xialacaidan-copy:before {
  content: "\eb6b";
}

.icon-zuidazhi:before {
  content: "\e6db";
}

.icon-shanchu:before {
  content: "\e653";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-caidan:before {
  content: "\e608";
}

.icon-wodeshahe:before {
  content: "\e61b";
}

.icon-chrome:before {
  content: "\e882";
}

.icon-shoujidiannao:before {
  content: "\e62d";
}

.icon-tuichu:before {
  content: "\e681";
}

.icon-iconfontshanchu6:before {
  content: "\e61d";
}

.icon-shuaxin:before {
  content: "\e636";
}

.icon-copy:before {
  content: "\e617";
}

.icon--yincang:before {
  content: "\e60c";
}

.icon-56zhiding:before {
  content: "\e630";
}

.icon-56zhiding-copy:before {
  content: "\e691";
}

.icon-zuojiantou1-copy-copy:before {
  content: "\e68e";
}

.icon-youjiantou1-copy:before {
  content: "\e68d";
}

.icon-chazhao:before {
  content: "\e60b";
}

.icon-shaixuan:before {
  content: "\e68b";
}

